@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.contenedor {
	width: 295px;
	border: 1px solid black;
	margin: 0 auto;
	position: relative;
	
}

h2 {
	text-align: center;
	font-family: 'Poppins', sans-serif;

}

.imagen{
	background: url(fondo.png);
	height: 400px;

}

.imagen p {
	text-align: center;
	color: #FFFFFF;
}

button{
	text-align: center;
	width: 250px;
	height: 45px;
	border-radius: 20px;
	box-shadow: 0px 4px 4px;
	font-family: 'Poppins', sans-serif;
}

button img {
	width: 20px;
	text-align: right;
}

.fb{
	margin-right: 23px;
	margin-left: -18px;
}

.ig{
	margin-right: 22px;
	margin-left: -10px;
}

.tw{
	margin-right: 23px;
	margin-left: -32px;
}

.imagen p{
	font-family: 'Poppins', sans-serif;
	font-size: 12px;

}
.fondo{
	background: url("bienvenida-holly6 1.png");
	background-size: contain;
	height: 523px;
}

.esquinado{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
	margin-left: 16px;
	color: #FFFFFF;
}


.nuevo{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 45px;
	color: #262626;
	margin-top: 227px;
	margin-right: 88px;
}

h6 {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	color: #5F2074;
	margin-left: 17px;
    margin-top: -15px;
}
.cuenta{
	background: linear-gradient(180deg, #941B80 0%, #2B2468 100%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	width : 129px;
    margin-left: 13px;
}
.iniciar{
	background: #FFFFFF;
border-radius: 20px;	
position: absolute;
width: 132px;
height: 42px;
left: 150px;
top: 398px;
}

.crear{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 10px;
	color: #FFFFFF;
	}

.sesion{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 8px;
	color: #5F2074;

}